body {
    background-image: url("../Imagens/background.jpg");
    background-size: cover;
    background-repeat:repeat-y;
    }

    img{
        padding: 1.5% 1%;
        float: left;
    }

    .topnav {
        overflow: hidden;
        background-color: #000;
        padding: 0;
    }

    @media only screen and (max-width: 715px){
    .topnav {
        overflow: hidden;
        padding: 3%;
    }
    }
        .title-game{ 
        color: #bb0a1e;
        font-size: 34px;
        font-family: "Catamaran";
        float: left;
        font-weight: bold;
        padding: 1.7% 0.1%;
        text-decoration: none;
        }  


    @media only screen and (max-width: 715px){
        .title-game{ 
            
            font-size: 25px;
            font-family: "Catamaran";
            float: left;
            font-weight: bold;
            padding: 3% 3%;
        }  
    }

    .card-story{
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    border-radius: 10px;
    margin: 3% 16%; 
    padding: 1% 1.5% 2%;
    font-family: "Catamaran";
    font-weight: normal;
    font-size: 22px;
    } 

    @media only screen and (max-width: 715px){
        .card-story{
        display: flex;
        flex-direction: column;
        background-color: rgb(0, 0, 0, 0.8);
        color: white;
        text-align: center;
        border-radius: 20px;
        font-family: "Catamaran";
        font-weight: bold;
        margin: 5% 4%;
        } 
    }

    .title-card{
        margin: 2%;
        font-size: 32px;
        font-weight: bold;
    }


    .title-h2{
        text-align: center; 
        font-family: "Catamaran";
        font-weight: bolder;
        padding-top: 2%; 
        padding-bottom: 2%;
        font-size: 25px;
        background-color: rgb(0, 0, 0, 0.8);
        color: white;
        margin: 2% 30%;
    }

    @media only screen and (max-width: 715px){
        .title-h2{
            padding-top: 5%; 
            font-weight: bolder;
            font-size: 20px;
            margin: 2% 15%;
        }
    }

    .container-characters{
    margin-top: 3%;
    display: flex;
    font-family: "Catamaran";
    }

    @media only screen and (max-width: 715px){
        .container-characters{ 
            display: flex;
            flex-direction: column;
            font-family: "Catamaran";
            
    }
}

    .title-cards{
        text-align: center;
        font-weight: bold;  
        padding-bottom: 5%;
        font-size: 22px; 
    }

    .cards-characters{
        background-color: rgb(0, 0, 0, 0.8);
        color: white;
        padding: 2% 2%;
        border-radius: 20px;
        font-size: 22px;  
        margin: 3% 4%;
        
        }

        @media only screen and (max-width: 715px){
        .cards-characters{
            background-color: rgb(0, 0, 0, 0.8);
            color: white;
            margin: 2% 14%;
            padding: 2% 6%;
        }
    }

    .cards > p {
        padding-top: 2%;
    }

    .button {
        display: inline-block;
        padding: 4% 15%;
        margin: 8% 20% 0 25%;
        font-size: 13px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #000;
        background-color: white;
        border: none;
        border-radius: 10px;
        box-shadow: 0 3px #666;
    }
    

    @media only screen and (max-width: 715px){
        .button{
            margin: 3% 25%;
            padding: 4% 17%;
        }
    }


    .button:hover {background-color: white}
    
    .button:hover {
        background-color: white;
        box-shadow: 0 3px #666;
        transform: translateY(4px);
    }

    .footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: rgb(187,10,30, 0.8);
        color: #000;
        text-align: center;
        padding: 0.5%;
        margin-top: 8%;
        font-family: "Catamaran";
        font-weight: bolder;
    }

    @media only screen and (max-width: 715px){
        .footer{
        background-color: rgb(0, 0, 0);
        color: #bb0a1e;
        }
}
